#footer {
    font-size: 20px;
    text-align: center;
    background-color: lightgray;
}

#footer a {
    text-decoration: none;
    color: #333333;
    padding: 0px 20px;
    display: inline-block;
}

#footer a:hover {
    text-decoration: none;
    background-color: green;
    color: #eeeeee;
}