{% extends "app_general/components/base.html" %} 

{% block title %}Thank you | Drinks O Drunks {% endblock title %} 

{% block content %}
    <div>
        <h2>thank you for your Subscription</h2>
        
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas corporis,
            rerum eum fuga at eaque temporibus vitae, ut harum tenetur labore, molestias
            soluta provident reiciendis! Quis cumque suscipit inventore reprehenderit.
        </p>

        <a href="{% url "home" %}">กลับสู่หน้าแรก</a>
    </div>
{% endblock content %}
