{% extends "app_general/components/base.html" %} 

{% block title%} {{drink.title}} {% endblock title %}

{% block content %} 
    {% if drink is not None %}
        <div>
            <h3>{{ drink.title }}</h3>
            
            {% comment %} Promotion Prices {% endcomment %}
            {% if drink.promotion_price is not None %}
                <p>
                    <span>{{ drink.promotion_price |  floatformat:'g' }} Baht </span>
                    <del>{{ drink.price | floatformat:'g' }} Baht</del>
                </p>
            {% else %}
                <p>{{ drink.price | floatformat:'g' }} Baht</p>
            {% endif %}

            {% comment %} Is_Premium Check {% endcomment %}
            {% if drink.is_premium %}
                <p>***Premium Menu***</p>
            {% endif %}

            <p>Promotion : 
                {% if drink.promotion_end is not None %}
                    {{ drink.promotion_end | date:'j N Y'}}
                {% else %}
                    No Promotion
                {% endif %}
            </p>
            <p>
                {{ drink.description }}
            </p>
        </div>
    {% else %}
        <p>ไม่พบเมนูนี้</p>
    {% endif %} 

{% endblock content %}

